# Heroku
.env

# Composer
/vendor/
composer.phar
composer.lock

# PHP
*.log
*.cache
.DS_Store
.idea/
*.swp
*.swo
*~

# VSCode
.vscode/

# OS Files
Thumbs.db
ehthumbs.db

# Temporary files
tmp/
temp/
*.tmp
